# Autenticação com o JWT.
JWT_SECRET=defina-um-segredo-no-arquivo-env
JWT_EXPIRES_IN_SECONDS=900

# Banco de dados.
DB_HOST=db
DB_PORT=5432
DB_NAME=solicitacoes
DB_USER=app
DB_PASSWORD=app-local

# Registro de UID e GID do user principal
LOCAL_UID=1000
LOCAL_GID=1000

#Mongo
MONGO_USER=usuario_local
MONGO_PASSWORD=senha_local
MONGO_DATABASE=solicitacoes
MONGODB_URI=mongodb://usuario_local:senha_local@mongo:27017/solicitacoes?authSource=admin